{% extends 'app/base/base.html' %}
{% load static %}

{% load common_filters %}

{% block content %}
<div class="main-panel">          
    <div class="content-wrapper">
        {% if error_msg is not None %}
        <div class="row alert alert-danger alert-dismissible" role="alert"">
            {{error_msg|safe}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        
        <div class="page-header" style="margin-bottom:10px;">
            <h3 class="page-title">{{ staff.username|safe }} ({{ staff.id }})</h3> 
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        Add User
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}  
                            <div class="row">
                                <div class="col-8"> 
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_fisrtname">Firstname</label>
                                                {{staff_form.first_name}}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_lastname">Lastname</label>
                                                {{staff_form.last_name}}
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="id_email">Email</label>
                                                {{staff_form.email}}
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_profile_pic">Profile Pic</label>
                                                {{user_profile.profile_pic}}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_phone">Phone</label>
                                                {{user_profile.phone}}
                                            </div>
                                        </div>
                                    </div>   
                                </div>  
                                <div class="col-4" style="border-left:1px solid #eeeeee">   
                                    <table class="table table-responsive">
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                <img style="width:100px; height:100px; border-radius:0px;" src="/media/{{staff.profile.profile_pic}}"  alt="{{staff.first_name|upper|safe}} {{staff.last_name|upper|safe}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="id_is_active">Is-Active</label></td>
                                            <td width="100px" class="text-center">{{staff_form.is_active}}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="id_is_staff">Is-Staff</label></td>
                                            <td class="text-center">{{staff_form.is_staff}}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="id_is_staff">Is-Admin</label></td>
                                            <td class="text-center">{{staff_form.is_superuser}}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="id_is_staff">Records Full Access</label></td>
                                            <td class="text-center">{{app_permission.full_access}}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="id_is_staff">Records Read Only Mode</label></td>
                                            <td class="text-center">{{app_permission.read_only_mode}}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="id_is_staff">Records Accessible</label></td>
                                            <td>{{app_permission.record_access_size}}</td>
                                        </tr>
                                    </table>    
                                </div>  
                            </div>  
                            <hr/>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary btn-sm">SUBMIT</button>
                                </div>                             
                            </div>                            
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}