{% extends 'app/base/base.html' %}
{% load static %}

{% load common_filters %}

{% block content %}
<div class="main-panel">          
    <div class="content-wrapper">
        <div class="page-header" style="margin-bottom:5px;">
            <h3 class="page-title">Staff Management</h3>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-xs" type="button">Search</button>
                        <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#AddUser">Add User</button>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card" style="padding:0px 9px 0px 0px;">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-stripped" style="margin-bottom:0px;font-size:85%">
                            <thead class="text-center">
                                <td style="padding:10px;"></td>
                                <td style="padding:10px;">Username</td>
                                <td style="padding:10px;">Name</td>
                                <td style="padding:10px;">Email</td>
                                <td style="padding:10px;">Phone</td>
                                <td style="padding:10px;">Is Staff</td>
                                <td style="padding:10px;">Is Admin</td>
                                <td style="padding:10px;">Is Active</td>
                                <td style="padding:10px;">Full Access</td>
                                <td style="padding:10px;">Records Accessible</td>
                                <td style="padding:10px;">Completed</td>
                            </thead>
                            {% for user in users %}
                            <tr>
                                <td class="text-center" width="60px">
                                    {% if user.profile__profile_pic is None %}
                                        <div class="nav-profile-img">
                                            <img src="/static/images/faces/face1.jpg" alt="image">         
                                        </div>
                                    {% else %}
                                        <div class="nav-profile-img">
                                            <img src="{{user.profile__profile_pic|safe}}"  alt="image">
                                        </div>
                                    {% endif %} 
                                </td>
                                <td>{{user.username|safe}}</td>
                                <td>{{user.first_name|upper|safe}} {{user.last_name|upper|safe}}</td>
                                <td>{{user.email|safe}}</td>
                                <td>{{user.profile__phone|safe}}</td>
                                <td class="text-center">{% tick_mark user.is_staff %}</td>
                                <td class="text-center">{% tick_mark user.is_superuser %}</td>
                                <td class="text-center">{% tick_mark user.is_active %}</td>
                                <td class="text-center">{% tick_mark user.app_permissions__full_access %}</td>
                                <td class="text-center">{{ user.app_permissions__records_access }}</td>
                                <td>0</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="50">No Records</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD USER MODAL -->

<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
                    <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="id_username">Username</label>
                                            {{form.username}}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="id_password">Password</label>
                                            {{form.password}}
                                        </div>
                                    </div>
                                </div>       
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="id_username">Firstname</label>
                                            {{form.first_name}}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="id_password">Lastname</label>
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                </div>           
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="id_username">Email</label>
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="col-6 form-inline">
                                        <div class="form-group">
                                            <label for="id_is_active" style="margin-right:10px; margin-top:7px">Is-Active</label>
                                            {{form.is_active}}
                                        </div>
                                        <div class="form-group" style="margin-left:20px;">
                                            <label for="id_is_staff" style="margin-right:10px; margin-top:7px">Is-Staff</label>
                                            {{form.is_staff}}
                                        </div>
                                        <div class="form-group" style="margin-left:20px;">
                                            <label for="id_is_superuser" style="margin-right:10px; margin-top:7px">Is-Admin</label>
                                            {{form.is_superuser}}
                                        </div>
                                    </div>
                                </div>                     
                            </form>                        
                        </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
  </div>


<!-- END ADD USER MODAL -->



{% endblock %}