{% extends 'app/base/base.html' %}
{% load static %}

{% load common_filters %}
{% load pagination %}

{% block content %}

<style>
.btn-default{color:#FFFFFF !important;}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 70px;
    padding: 0;
    margin: 0.125rem 0 0;
    font-size: 11px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fed713;
    border-color: #fed713 1px solid;
    background-clip: padding-box;
    border: 1px solid #ebedf2;
    border-radius: 0px; 
}

.dropdown-menu li:hover{     
    background-color: #eac301;
    border-color: #ddb901; 
}


</style>

<div class="main-panel">          
    <div class="content-wrapper">
        {% if error_msg is not None %}
        <div class="row alert alert-danger alert-dismissible" role="alert"">
            {{error_msg|safe}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="page-header" style="margin: 0px -21px; margin-bottom:10px; ">
            <h3 class="page-title">Staff Management</h3>
            <div class="col-md-6" style="padding:0px">
                <div class="input-group">
                    <input style="border-radius: 0px;" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-xs" type="button" style="width: 70px;">Search</button>
                        <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#AddUser" style="width: 70px;">Add User</button>
                    
                        <button  style="border-radius: 0px; width: 70px;" type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                            Show <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=1">1</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=2">2</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=3">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card" style="padding:0px 0px; margin-bottom:10px">
                <div class="card">
                    <div class="card-body" style="overflow-x:scroll">
                        <table class="table table-bordered table-stripped" style="margin-bottom:0px;font-size:85%">
                            <thead class="text-center">
                                <td style="padding:10px;"></td>
                                <td style="padding:10px;">Username</td>
                                <td style="padding:10px;">Name</td>
                                <td style="padding:10px;">Email</td>
                                <td style="padding:10px;">Phone</td>
                                <td style="padding:10px;">Is Staff</td>
                                <td style="padding:10px;">Is Admin</td>
                                <td style="padding:10px;">Is Active</td>
                                <td style="padding:10px;">Full Access</td>
                                <td style="padding:10px;">Read Only</td>
                                <td style="padding:10px;">Records Accessible</td>                                
                                <td style="padding:10px;">Completed</td>
                                <td style="padding:10px;">Action</td>
                            </thead>
                            {% for user in users %}
                            <tr>
                                <td class="text-center" width="60px">                                    
                                    {% if user.profile__profile_pic is not None %}
                                        {% if user.profile__profile.pic is null %}
                                            <div class="nav-profile-img">
                                                <img src="/static/images/faces/face1.jpg" alt="{{user.first_name|upper|safe}} {{user.last_name|upper|safe}}">         
                                            </div>
                                        {% else %}
                                            <div class="nav-profile-img">
                                                <img src="{{user.profile__profile_pic|safe}}"  alt="{{user.first_name|upper|safe}} {{user.last_name|upper|safe}}">
                                            </div>
                                        {% endif %} 
                                    {% else %}
                                        <div class="nav-profile-img">
                                            <img src="/static/images/faces/face1.jpg"  alt="{{user.first_name|upper|safe}} {{user.last_name|upper|safe}}">
                                        </div>
                                    {% endif %} 
                                </td>
                                <td>{{user.username|safe}}</td>
                                <td>{{user.first_name|upper|safe}} {{user.last_name|upper|safe}}</td>
                                <td>{{user.email|safe}}</td>
                                <td>{{user.profile__phone|safe}}</td>
                                <td class="text-center">{% tick_mark user.is_staff %}</td>
                                <td class="text-center">{% tick_mark user.is_superuser %}</td>
                                <td class="text-center">{% tick_mark user.is_active %}</td>
                                <td class="text-center">{% tick_mark user.app_permissions__full_access %}</td>
                                <td class="text-center">{% tick_mark user.app_permissions__read_only_mode %}</td>
                                <td class="text-center">{{ user.app_permissions__record_access_size }}</td>
                                <td>0 / {{ user.app_permissions__record_access_size }}</td>
                                <td class="text-center">
                                    <a href="{% url 'edit_staff' user.id %}" class="btn btn-xs btn-success" style="padding: 0.25rem 0.25rem; font-size:10px">
                                        <i class="mdi mdi-lead-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="50">No Records</td>
                            </tr>
                            {% endfor %}
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if users.paginator.count > 0 %}
            <div class="col-md-12 pagination text-center">
                {% paginate users request.META.QUERY_STRING %}             
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- ADD USER MODAL -->

<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -17px;margin-right:-15px;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
            <div class="modal-body">            
                <div class="card-body">                    
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                            <label for="id_username">Username</label>
                            {{staff_form.username}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                            <label for="id_password">Password</label>
                            {{staff_form.password}}
                            </div>
                        </div>
                    </div>       
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                            <label for="id_username">Firstname</label>
                            {{staff_form.first_name}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                            <label for="id_password">Lastname</label>
                            {{staff_form.last_name}}
                            </div>
                        </div>
                    </div>           
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                            <label for="id_username">Email</label>
                            {{staff_form.email}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-inline">
                            <div class="form-group">
                                <label for="id_is_active" style="margin-right:10px; margin-top:7px">Is-Active</label>
                                {{staff_form.is_active}}
                            </div>
                            <div class="form-group" style="margin-left:20px;">
                                <label for="id_is_staff" style="margin-right:10px; margin-top:7px">Is-Staff</label>
                                {{staff_form.is_staff}}
                            </div>
                            <div class="form-group" style="margin-left:20px;">
                                <label for="id_is_superuser" style="margin-right:10px; margin-top:7px">Is-Admin</label>
                                {{staff_form.is_superuser}}
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
            </div>
            </form>   
        </div>
    </div>
  </div>


<!-- END ADD USER MODAL -->


{% endblock %}