{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header text-center" style="color:#FFFFFF">
                <h5 style="margin-top:5px;">SIGN IN</h5>
                <p style="font-size:16px; margin-bottom:5px">Data Security Portal</p>
                <hr style="border: 1px solid #FFFFFF; margin:0px 0px 10px 0px;">
                <small style="margin-top:4px; font-size:10px;">Powered By Django</small>
			</div>
			<div class="card-body">
				<form action="{% url 'login' %}" method="post" id="loginForm">
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						{{ form.username }}					
					</div>
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{ form.password }}
					</div>
					<div class="form-group text-center" >
						<input type="submit" value="Login" class="btn btn-sm login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer" style="font-size:11px;">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Contact Admin</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#" style="color:#FFFFFF">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script>

$(document).ready(function(){

	$("#id_username").addClass("form-control");
	$("#id_password").addClass("form-control");

});

</script>

</html>