{% extends 'app/base/base.html' %}
{% load static %}

{% load common_filters %}
{% load pagination %}

{% block content %}

<style>
.btn-default{color:#FFFFFF !important;}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 70px;
    padding: 0;
    margin: 0.125rem 0 0;
    font-size: 11px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fed713;
    border-color: #fed713 1px solid;
    background-clip: padding-box;
    border: 1px solid #ebedf2;
    border-radius: 0px; 
}

.dropdown-menu li:hover{     
    background-color: #eac301;
    border-color: #ddb901; 
}

select.form-control{
    color:#000000;
}

.btn{border-radius:0px;}

#hide_show_settings{display:none;}

.form-inline label {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-bottom: 0;
}

</style>

<div class="main-panel" style="width:100%; overflow-x:auto;">          
    <div class="content-wrapper">
        {% if messages %}
            <div class="row alert alert-danger alert-dismissible" role="alert">
                {% for message in messages %}
                    <p>{{ message|safe }}</p>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if error_msg is not None %}
            <div class="row alert alert-danger alert-dismissible" role="alert">
                {{error_msg|safe}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="page-header" style="margin: 0px -21px; margin-bottom:10px; ">
            <h3 class="page-title">Records Management</h3>
            <div class="col-md-6" style="padding:0px">
                <div class="input-group">
                    <input style="border-radius: 0px;" type="text" class="form-control" placeholder="Record" aria-label="Username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-xs" type="button" style="width: 70px;">Search</button>
                        <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#FileSubmission" style="width: 70px;">Upload</button>
                    
                        <button  style="border-radius: 0px; width: 70px;" type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                            Show <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=25{{url_ext|safe}}">25</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=50{{url_ext|safe}}">50</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=100{{url_ext|safe}}">100</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=200{{url_ext|safe}}">200</a></li>
                        </ul>
                    </div>
                </div>
            </div>   
        </div>

        <div class="row">
            <div class="col-12 grid-margin stretch-card" style="padding:0px 0px; margin-bottom:10px">
                <div class="card">
                    <div class="card-body" style="overflow-x:scroll">
                        <div class="row" style="padding:0px; margin:10px 0px">
                            <div class="col-8" style="padding:0px">
                                <form action="" method="get">
                                <div class="form-inline">
									<label style="font-size: 80%; text-align:right; padding:0px 0px;" class="col-3">
                                        Select Records File
									</label>
                                    <div class="col-9 input-group" style="padding:0px 0px">
                                        <select style="border-radius: 0px;" class="form-control" id="load_data_opt" name="load_file">
                                            {% for records_file in records_file_list %}
                                                <option {% if file_ins == records_file.id %} selected {% endif %} value="{{ records_file.id }}">{{ records_file.record_file_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-success btn-xs" type="submit" style="border-radius: 0px;" id="load_data_but">Load Data</button>
											<button class="btn btn-danger btn-xs" type="button" onclick="delete_file_data()" style="border-radius: 0px; color:#000000" id="delete_data_but">Delete File</button>
											<button style="font-size:14px" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#filters_modal" type="button" style="border-radius: 0px;">
												<span class="mdi mdi-filter-outline"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li style="padding:5px 10px; cursor:pointer;">
													
												</li>
											</ul>
										</div>	
										<div class="input-group-append">	
											<button style="font-size:14px" class="btn btn-warning btn-xs  dropdown-toggle" data-toggle="dropdown" type="button" style="border-radius: 0px;">
												<span class="mdi mdi-settings"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li style="padding:5px 10px; cursor:pointer;">
													<span class="hide_show_button" params="activate_section">Activate/Deactivate Records</span>
												</li>
												<li style="padding:5px 10px; cursor:pointer;">
													<span class="hide_show_button" params="auto_assign_section">Auto Assign Records</span>
												</li>
												<!--
												<li style="padding:5px 10px; cursor:pointer;">
													<span class="hide_show_button" params="assign_selected_section">Assign Selected Records</span>
												</li>
												-->
											</ul>
										</div>
                                    </div>                                    
                                </div>
                                </form>
                            </div>
                        </div>
						<form id="my_form" method="post">
                        <table class="table table-bordered table-stripped" style="margin-bottom:0px;font-size:85%">
                            <thead class="text-center">
                                <td style="padding:10px;"><input type="checkbox" id="selectall"/></td>
                                <td style="padding:10px;">Is Active</td>
                                <td style="padding:10px;">Industry</td>
                                <td style="padding:10px;">Sub Industry</td>
								<td style="padding:10px;">Brand Name</td>
								<td style="padding:10px;">Previous Exhibition</td>
                                <td style="padding:10px;">Contact Person</td>
                                <td style="padding:10px;">Contact No</td>
                                <td style="padding:10px;">Email ID</td>
                                <td style="padding:10px;">Is Assigned</td>
                                <td style="padding:10px;">Assigned To</td>
                                <td style="padding:10px;">Remarks</td>
                                <td style="padding:10px;">Added On</td>  
								<td style="padding:10px;">Assigned On</td> 								
                                <td style="padding:10px;">Remarked On</td>
								<td style="padding:10px;">Disposition</td>
								<td style="padding:10px;">Is Approved</td>
                                <td style="padding:10px;">Action</td>
                            </thead>
                            <tbody>
								
									{% csrf_token %}
									{% for rec in records %}
										<tr>
											<td class="text-center">
												<input type="checkbox" class="case" name="case[]" value="{{rec.id}}"/>
											</td>
											<td class="text-center">{% tick_mark rec.is_active %}</td>
											<td>{{ rec.category__category_name|title|safe }}</td>
											<td>{{ rec.sub_category__category_name|title|safe }}</td>
											<td>{{ rec.brand__brand_name|title|safe }}</td>
											<td>{{ rec.previous_exhibition__name|title|safe }}</td>
											<td>{{ rec.contact_person|title|safe }}</td>
											<td>{{ rec.contact_number|safe }}</td>
											<td>{{ rec.email|safe }}</td>
											<td>{{ rec.is_assigned }}</td>
											<td>
											{% if  rec.assigned_to is not None %}
												{{ rec.assigned_to__first_name|upper|safe }} {{ rec.assigned_to__last_name|upper|safe }}
											{% endif %}
											</td>
											<td>
											{% if  rec.remarks is not None %}
											{{rec.remarks|safe}}
											{% endif %}
											</td>
											<td>{{rec.record_file__uploaded_on|date:'D, d M Y'}}</td>
											<td>{{rec.assigned_on|date:'D, d M Y'}}</td>
											<td>{{rec.remark_added_on|date:'D, d M Y'}}</td>
											<td>
												{% if rec.disposition == 1 %} Call Completed Successfully
												{% elif rec.disposition == 2 %} Call Rejected
												{% elif rec.disposition == 3 %} Call Disconnected
												{% elif rec.disposition == 4 %} Wrong Number
												{% elif rec.disposition == 5 %} Answering Machine
												{% elif rec.disposition == 6 %} Call Later
												{% elif rec.disposition == 7 %} Do Not Call Again
												{% elif rec.disposition == 8 %} Not Answering
												{% elif rec.disposition == 9 %} Details Are Incorrect
												{% endif %}
											</td>
											<td class="text-center">{% tick_mark rec.is_completed %}</td>
											<td class="text-center">
											    {% if rec.is_assigned and rec.remarks is not None %}
												{% if rec.is_completed %} 
												<button type="button" onclick="set_completed(0, {{rec.id}})" class="btn btn-success btn-xs" style="padding:2px" title="Do not approve">
													<span style="font-size:20px; padding:0px;" class="mdi mdi-star-circle"></span>
												</button>
												{% else %}
												<button type="button" onclick="set_completed(1, {{rec.id}})" class="btn btn-danger btn-xs" style="padding:2px" title="Approve">
													<span style="font-size:20px; padding:0px;" class="mdi mdi-star-circle"></span>
												</button>
												{% endif %}
												{% endif %}
											</td>
										</tr>
									{% empty %}
										<tr>
											<td colspan="50" style="padding:10px 10px">No Records</td>
										</tr>
									{% endfor %}
                            </tbody>
                        </table>
						</form>
                    </div>
                </div>
            </div>
        </div>       
        <div class="row">
            {% if records.paginator.count > 0 %}
            <div class="col-md-12 pagination text-center">
                {% paginate records request.META.QUERY_STRING %}             
            </div>
            {% endif %}
        </div>
    </div>
</div>


<!-- ADD FILE SUBMISSION MODAL -->

<div class="modal fade" id="FileSubmission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Master File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -17px;margin-right:-15px;">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                <div class="modal-body">            
                    <div class="card-body">                    
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <label for="id_record_file_name">Records Filename</label>
                                {{file_submission_form.record_file_name}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <label for="id_password">Is-Active</label>
                                {{file_submission_form.is_active}}
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="hide_show_settings" style="siaplay:hidden;overflow:hidden; z-index:9; position:fixed; top:70px; right:0; height:100%; width:300px; background:#1e2048 ;">
	<div class="row" style="margin:0px 0px; background-color:#b66dff; padding:5px 10px; color:#FFFFFF">
		<span class="mdi mdi-settings" style="line-height:28px;">&nbsp;Settings</span>
		<button class="btn btn-primary btn-sm hide_show_button" style="right:5px; position:absolute; margin-top: -2px;">Hide</button>
	</div>
	<div class="row" style="padding:5px 10px;">
		<div class="col-12">		
			<table class="table activate_section">
				<tr style="border:0px;" >
					<td style="color:#FFFFFF; border:0px">Activate Selected Records</td>
					<td style=" border:0px">								
						<select class="form-control input-xs" name="activate_records" id="activate_records">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</td>
				</tr>
				<tr style="border:0px;">
					<td style="color:#FFFFFF; border:0px; padding-top:25px" colspan="2" class="text-center">
						<button onclick="act_records()" type="button" class="btn btn-success btn-xs" style="margin-right:0px;">Execute</button>
					</td>
				</tr>
			</table>
			<form action="{% url 'auto_assign' %}" method="post">
				{% csrf_token %}				
				<input type="hidden" value="{{file_ins}}" name="file_ins">
				<table class="table auto_assign_section">
					<tr style="border:0px;">
						<td style="color:#FFFFFF; border:0px; padding-top:15px">Auto Assign Records to all staff</td>
						<td style="color:#FFFFFF; border:0px; padding-top:15px">								
							<select class="form-control input-xs" id="auto_assign">
								<option value="0">No</option>
								<option value="1">Yes</option>
							</select>
						</td>
					</tr>
					<tr style="border:0px;display:none;" class="auto_assign_section">
						<td style="color:#FFFFFF; border:0px;">Select Staff</td>
						<td  style="border:0px;">
							<select id="auto_assign_staff" name="auto_assign_staff" class="form-control" multiple='multiple' required>
								<option value="0" selected>ALL STAFF</option>
								{% for staff in user_list %}
									<option value="{{staff.id}}">{{staff.first_name|safe}} {{staff.last_name|safe}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr style="border:0px;">
						<td style="color:#FFFFFF; border:0px; padding-top:25px" colspan="2" class="text-center">
							<button type="submit" class="btn btn-success btn-xs" style="margin-right:0px;">Execute</button>
						</td>
					</tr>
				</table>
			</form>
			<form action="{% url 'auto_assign' %}" method="post">
				{% csrf_token %}
				<input type="hidden" value="{{file_ins}}" name="file_ins">
				<table class="table assign_selected_section">
					<tr style="border:0px;">
						<td style="color:#FFFFFF; border:0px; padding-top:15px">Assign Selected Records To Staff</td>
						<td style="padding-top:15px; border:0px;">
						<select class="form-control input-xs">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
						</td>
					</tr>
					<tr style="border:0px;">
						<td style="color:#FFFFFF; border:0px;">Staff Name</td>
						<td style=" border:0px">
						<select id="assign_staff" name="auto_assign_staff" class="form-control" required>
							<option value=""></option>
							{% for staff in user_list %}
								<option value="{{staff.id}}">{{staff.first_name|safe}} {{staff.last_name|safe}}</option>
							{% endfor %}
						</select>
						</td>
					</tr>
					<tr style="border:0px;">
						<td style="color:#FFFFFF; border:0px; padding-top:25px" colspan="2" class="text-center">
							<button type="submit" class="btn btn-success btn-xs" style="margin-right:0px;">Execute</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<!-- ADD USER MODAL -->

<div class="modal fade" id="filters_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter Records</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -17px;margin-right:-15px;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<form action="" method="get">
			<div class="modal-body">            
                <div class="card-body" style="padding:0px">                    					
					<div class="row">
                        <div class="col-12">
							<div class="form-inline">
								<label class="col-4">Active / Inactive</label>
								<div class="col-8" style="margin-bottom:10px;">
									<select class="form-control" name="active" style="color:#000000; width:100%">
										<option value=''> All </option>
										<option value='0'> In-Active </option>
										<option value='1'> Active </option>
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
                        <div class="col-12">
							<div class="form-inline">
								<label class="col-4">Is Assigned</label>
								<div class="col-8" style="margin-bottom:10px;">
									<select class="form-control" name="assigned" style="color:#000000; width:100%">
										<option value=''> All </option>
										<option value='0'> No </option>
										<option value='1'> Yes </option>
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
                        <div class="col-12">
							<div class="form-inline">
								<label class="col-4">Industry</label>
								<div class="col-8" style="margin-bottom:10px;">
									<select class="form-control" id="id_dedicated_to_category" name="cate" style="color:#000000; width:100%">
										<option value=''> Any </option>
										{% for cat in category_list %}
											<option value="{{cat.id}}">{{cat}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
                        <div class="col-12">
							<div class="form-inline">
								<label class="col-4">Sub Industry</label>
								<div class="col-8" style="margin-bottom:10px;">
									<select class="form-control" id="id_dedicated_to_sub_category" name="sub_cat" style="color:#000000; width:100%">
										<option value=''> Any </option>
										{% for sub_cat in sub_category_list %}
											<option value="{{sub_cat.id}}">{{sub_cat}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
                        <div class="col-12">
							<div class="form-inline">
								<label class="col-4">Brand</label>
								<div class="col-8" style="margin-bottom:10px;">
									<select class="form-control" id="id_dedicated_to_brand" name="brand" style="color:#000000; width:100%">
										<option value=''> Any </option>
										{% for brand in brand_list %}
											<option value="{{brand.id}}">{{brand}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row" style="padding-top:10px;">
                        <div class="col-12 text-right">
							<button class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
					
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
																											
														
											
<script>
	
	var csrf_token = '{{csrf_token}}';
	
</script>

{% endblock %}