{% extends 'app/base/base.html' %}
{% load static %}

{% load common_filters %}
{% load pagination %}

{% block content %}

<style>
.btn-default{color:#FFFFFF !important;}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 70px;
    padding: 0;
    margin: 0.125rem 0 0;
    font-size: 11px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fed713;
    border-color: #fed713 1px solid;
    background-clip: padding-box;
    border: 1px solid #ebedf2;
    border-radius: 0px; 
}

.dropdown-menu li:hover{     
    background-color: #eac301;
    border-color: #ddb901; 
}


</style>

<div class="main-panel">          
    <div class="content-wrapper">
        {% if messages %}
            <div class="row alert alert-danger alert-dismissible" role="alert">
                {% for message in messages %}
                    <p>{{ message|safe }}</p>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if error_msg is not None %}
            <div class="row alert alert-danger alert-dismissible" role="alert">
                {{error_msg|safe}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="page-header" style="margin: 0px -21px; margin-bottom:10px; ">
            <h3 class="page-title">Records Management</h3>
            <div class="col-md-6" style="padding:0px">
                <div class="input-group">
                    <input style="border-radius: 0px;" type="text" class="form-control" placeholder="Record" aria-label="Username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-xs" type="button" style="width: 70px;">Search</button>
                        <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#FileSubmission" style="width: 70px;">Upload</button>
                    
                        <button  style="border-radius: 0px; width: 70px;" type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                            Show <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=1">1</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=2">2</a></li>
                            <li class="text-center"><a style="display: block; color: #000000;" href="?per_page=3">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>   
        </div>

        <div class="row">
            <div class="col-12 grid-margin stretch-card" style="padding:0px 0px; margin-bottom:10px">
                <div class="card">
                    <div class="card-body" style="overflow-x:scroll">
                        <div class="row" style="padding:0px; margin:10px 0px">
                            <div class="col-6" style="display:block"></div>
                            <div class="col-6">
                                <div class="form-inline">
                                    <label style="font-size: 80%;" class="col-4">
                                        Select Records File
                                    </label>
                                    <div class="col-8 input-group">
                                        <select style="border-radius: 0px;" class="form-control">
                                            <option></option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-success btn-xs" type="button" style="border-radius: 0px;">Load Data</button>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-stripped" style="margin-bottom:0px;font-size:85%">
                            <thead class="text-center">
                                <td style="padding:10px;"></td>
                                <td style="padding:10px;">Industry</td>
                                <td style="padding:10px;">Sub Industry</td>
                                <td style="padding:10px;">Brand Name</td>
                                <td style="padding:10px;">Contact Person</td>
                                <td style="padding:10px;">Contact No</td>
                                <td style="padding:10px;">Email ID</td>
                                <td style="padding:10px;">Is Assigned</td>
                                <td style="padding:10px;">Assigned To</td>
                                <td style="padding:10px;">Remarks</td>
                                <td style="padding:10px;">Added On</td>                                
                                <td style="padding:10px;">Remarked On</td>
                                <td style="padding:10px;">Action</td>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>       

    </div>
</div>


<!-- ADD FILE SUBMISSION MODAL -->

<div class="modal fade" id="FileSubmission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -17px;margin-right:-15px;">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                <div class="modal-body">            
                    <div class="card-body">                    
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <label for="id_record_file_name">Records Filename</label>
                                {{file_submission_form.record_file_name}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <label for="id_password">Is-Active</label>
                                {{file_submission_form.is_active}}
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}