{% extends 'app/base/base.html' %}
{% load static %}

{% load common_filters %}
{% load pagination %}

{% block content %}

<style>
p{padding: 5px 0px; margin-bottom:0px;}
</style>

<div class="main-panel" style="width:100%; overflow:auto;">          
    <div class="content-wrapper">
        
        {% if error_msg is not None %}
            <div class="row alert alert-danger alert-dismissible" role="alert">
                {{error_msg|safe}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>			
        {% endif %}

        <div class="page-header" style="margin: 0px -21px; margin-bottom:10px; ">
            <h3 class="page-title">Records Board</h3>
		</div>
		
		<div class="row">
            <div class="col-12 grid-margin stretch-card" style="padding:0px 0px; margin-bottom:10px">
                <div class="card">
                    <div class="card-body" style="overflow:auto">
						<table class="table table-bordered table-stripped" style="margin-bottom:0px;font-size:85%">
                            <thead class="text-center">
                                <td style="padding:10px;">Rec ID</td>
                                <td style="padding:10px;">Is Active</td>
                                <td style="padding:10px;">Industry</td>
                                <td style="padding:10px;">Sub Industry</td>
                                <td style="padding:10px;">Brand Name</td>
                                <td style="padding:10px;">Contact Person</td>
                                <td style="padding:10px;">Contact No</td>
                                <td style="padding:10px;">Email ID</td>
                                <td style="padding:10px;">Remarks</td>
								<td style="padding:10px;">Assigned On</td> 								
                                <td style="padding:10px;">Remarked On</td>
								<td style="padding:10px;">Disposition</td>
								<td style="padding:10px;">Is Approved</td>
                                <td style="padding:10px;">Action</td>
                            </thead>
                            <tbody>
								{% for rec in records %}
								
								<tr>
									<td class="text-center">{{rec.id}}</td>
									<td class="text-center">{% tick_mark rec.is_active %}</td>
									<td>{{ rec.category__category_name|title|safe }}</td>
									<td>{{ rec.sub_category__category_name|title|safe }}</td>
									<td>{{ rec.brand__brand_name|title|safe }}</td>
									<td>{{ rec.contact_person|title|safe }}</td>
									<td>{{ rec.contact_number|safe }}</td>
									<td>{{ rec.email|safe }}</td>
									<td>
										{% if  rec.remarks is not None %}
										{{rec.remarks|safe}}
										{% endif %}
									</td>
									<td>{{rec.record_file__uploaded_on|date:'D, d M Y'}}</td>
									<td>{{rec.assigned_on|date:'D, d M Y'}}</td>
									<td>{{rec.remark_added_on|date:'D, d M Y'}}</td>
									<td>
										{% if rec.disposition == 1 %} Call Completed Successfully
										{% elif rec.disposition == 2 %} Call Rejected
										{% elif rec.disposition == 3 %} Call Disconnected
										{% elif rec.disposition == 4 %} Wrong Number
										{% elif rec.disposition == 5 %} Answering Machine
										{% elif rec.disposition == 6 %} Call Later
										{% elif rec.disposition == 7 %} Do Not Call Again
										{% elif rec.disposition == 8 %} Not Answering
										{% elif rec.disposition == 9 %} Details Are Incorrect
										{% endif %}
									</td>
									<td class="text-center">
										<a href="#" class="btn btn-xs btn-success" style="padding: 0.25rem 0.25rem; font-size:10px">
											<i class="mdi mdi-lead-pencil"></i>
										</a>
									</td>
								</tr>
								{% empty %}
									No More Records Found. Please wait records will be assigned to you shortly as the 
									previously assigned records to you, are yet to be scrutinized and approved.
								{% endfor %}							
							</tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}